# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
.next

# Debug
*.log
.pnpm-debug.log*

# Env
.env*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
