# Dependencies
node_modules

# Build outputs
dist
dist-ssr
.next

# TypeScript
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
